p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0px;
  padding: 0px;
}

header img {
  height: 60px;
}

header {
  padding: 25px 200px;
}

nav {
  background-color: black;
  color: white;
  position: absolute;
  top: 0px;
  right: 20%;
  left: 20%;
  z-index: 10;
}

.menu-and-carousel {
  position: relative;
}

button .active {
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #f47f30;
}

ul.menu {
  list-style-type: none;
}

.header-link {
  font-family: "Raleway";
  font-weight: 200;
  padding: 15px 25px;
}

#black-line-header {
  background-color: black;
  height: 20px;
}

#icon-wrapper {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  width: 60px;
}

#icon-wrapper img {
  width: 20px;
  height: auto;
}

#body-page {
  background-image: url(../img/footer-1.jpg);
  background-size: contain;
  height: 300px;
  overflow: auto;
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
}

.history-wall {
  padding: 0px 200px;
}

#wall-list {
  margin-top: 5px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.history-wall p {
  margin-top: 5px;
}

.history-wall h5 {
  color: #ea0808;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-top: 40px;
}

footer {
  background-image: url(../img/footer-1.jpg);
  background-size: contain;
  height: auto;
  padding: 55px 0 10px;
  overflow: auto;
  color: #d7d3d3;
}

.footer-logo {
  height: 40px;
}

footer p {
  font-family: "Raleway";
  font-weight: 200;
}
